body {
    background-color: aquamarine;
    max-width: 100vw;
    max-height: 100vh;
}
.name{
    max-width: 100%;
    text-align: center;
    margin-top: 60px;

}
.name p{
    font-size: 3em;
}


.gameboard{
    position: absolute;
    left: calc(50% - 293px);
    top: 200px;
}


table { 
    border-spacing: 0px;
    background-color: white;
    text-align: center;
}


tr {
    height: 50px;
}

td {
    width: 48px;
    border: solid 1px black;
    background-color: white;
}

td img{
    width: 50px;
}

td:hover{
    background-color: grey;
}

th{
    width: 48px;
    font-size: 1.3em;
}

.ship {
    height: 60px;

}